@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(27, 27, 27, 0.753), rgba(20, 20, 20, 0.458)), url("https://static.vecteezy.com/system/resources/thumbnails/002/018/227/original/world-countries-flag-icons-with-lens-fx-background-loop-video.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 400px;
}

main h1 {
    color: #fff;
    text-shadow: 0px 0px 5px #000000;
    padding: 10px 5px 0px 5px;
    text-align: center;
    border-bottom: 2px solid #000;
    width: 100%;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nome,
.pais {
    position: relative;
    width: 250px;
    margin: 30px 5px;
}

.nome input,
.pais input {
    width: 100%;
    padding: 5px;
    border-radius: 8px;
    border: none;
    border-bottom: 2px solid #000;
    background-color: transparent;
    outline: none;
    color: #000000;
    font-weight: bolder;
    font-size: 1.1rem;
}

.nome input~label,
.pais input~label {
    position: absolute;
    left: 5px;
    top: 5px;
    color: #fff;
    font-size: 1.2rem;
    text-shadow: 0px 0px 4px #000;
    transition: all .2s linear;
}

.nome input:focus~label,
.pais input:focus~label,
.nome input:valid~label,
.pais input:valid~label {
    transform: translateY(-25px);
}

.btn {
    margin: 10px;
}

.btn input {
    padding: 5px 10px;
    font-size: 1.2em;
    border-radius: 8px;
    border: transparent;
    transition: all .2s linear;
}

.btn input:hover {
    background-color: #000;
    color: #fff;
}

.res {
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    margin: 10px 0px;
}